@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #3F56E9;
  --light-blue: #39caf0;
  --neon-green: #2cff05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgba(14, 14, 16, 1);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
}