.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.card:hover .bg {
    width: calc(100% - 1rem - 15px);
    transition: width 0.3s ease;
}

.card:hover p {
    color: rgb(0, 0, 0);
}

.card:hover .glowEffect {
    filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px white) drop-shadow(0 0 16px white);
    transition: filter 0.3s ease;
}
